.error-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  padding-top: 70px;
}

.error-screen--title {
  font-size: 60px;
  padding: 0;
  margin-bottom: 15px;
}

.error-screen--image {
  display: block;
  margin-bottom: 25px;
}

.error-screen--back {
  font-size: 25px;
  text-decoration: underline;
}
